body{
    padding-top: 70px;
    padding-bottom: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ffffff;
}

.item-displayer{
    font-size: 1.6rem;
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}

.jumbotron{
    padding: 20px 20px 20px 20px;
}

.homeDisplay{
    margin-top: 20%;
}

#homeJumbo{
    background-color:#007bff;;
    border-radius: 0%;
}

#homeTitle{
    color: #ffffff;
    font-size: 5rem;
    -webkit-animation-name: homeTitleAnimation;
    animation-name: homeTitleAnimation;    
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes homeTitleAnimation {
    from{
        color: #007bff;
        font-size: 1.5rem;
    }
    to{
        color: #ffffff;
        font-size: 5rem;
    }
}

/* Standard syntax */
@keyframes homeTitleAnimation {
    from{ color: #007bff; font-size: 1.5rem; }
    to{ color: #ffffff; font-size: 5rem; }
}

#homeSubtitle{
    color: #ffffff;
    font-size: 2.5rem;
    -webkit-animation-name: homeSubtitleAnimation;
    animation-name: homeSubtitleAnimation;    
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

@-webkit-keyframes homeSubtitleAnimation {
    0% { color: #007bff; font-size: 0.5rem; }
    50% { color: #007bff; font-size: 0.5rem; }
    100% { color: #ffffff; font-size: 2.5rem; }
}

/* Standard syntax */
@keyframes homeSubtitleAnimation {
    0% { color: #007bff; font-size: 0.5rem; }
    50% { color: #007bff; font-size: 0.5rem; }
    100% { color: #ffffff; font-size: 2.5rem; }
}

.home-introduction{
    color: #ffffff;
}
.home-introduction > a{
    color: #00f1ff;
    font-size: 1.4rem;
}


#profileImage{
    width: auto;
    vertical-align: middle !important;
}

.carousel-inner > .carousel-item > img, 
.carousel-inner > .carousel-item > a > img{
    width: 100%; 
    margin: auto;
}
.carousel-control-next,
.carousel-control-prev{
    background:rgba(9, 57, 160, 0.562);
}

.progress{
    background-color: white;
    height: 2rem;
    font-size: 1.45rem;
}

.title-section{
    margin-top: 20px;
    font-size: 4rem;
    color: rgba(0, 65, 134, 0.98);
    -webkit-animation-name: titleAnimation;
    animation-name: titleAnimation;    
    -webkit-animation-duration: 3s;
    animation-duration: 3s; 
    text-align: center;
}

@-webkit-keyframes titleAnimation {
    from{color: rgba(255, 255, 255, 0.39);}
    to{color: rgba(0, 65, 134, 0.98);}
}

/* Standard syntax */
@keyframes titleAnimation {
    from{color: rgba(255, 255, 255, 0.39);}
    to{color: rgba(0, 65, 134, 0.98);}
}

.subtitle-section{
    margin-top: 10px;
    font-size: 2.5rem;
    color: rgba(34, 104, 179, 0.98);
}

.progress-bar{
    -webkit-animation-name: progressBar;
    animation-name: progressBar;    
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes progressBar {
    from{width: 0%;}
}

/* Standard syntax */
@keyframes progressBar {
    from{width: 0%;}
}